<%= form_for(@job_job_association) do |f| %>
  <% if @job_job_association.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job_job_association.errors.count, "error") %> prohibited this job_job_association from being saved:</h2>

      <ul>
      <% @job_job_association.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label 'Vorgänger auswählen' %><br />
      <%= f.collection_select :predecessor_id, Job.all, :id, :name %>
    </div>

    <div class="field">
      <%= f.label 'Nachfolger auswählen' %><br />
      <%= f.collection_select :successor_id, Job.all, :id, :name %>
    </div>
  <div class="actions">
    <%= f.submit 'Neue Vorgänger-Nachfolger-Beziehung anlegen' %>
  </div>
<% end %>
