<p id="notice"><%= notice %></p>

<p>
  <strong>Vorgänger:</strong>
  <%= @job_job_association.predecessor_id %>
</p>

<p>
  <strong>Nachfolger:</strong>
  <%= @job_job_association.successor_id %>
</p>

<%= link_to 'Ändern', edit_job_job_association_path(@job_job_association) %> |
<%= link_to 'Zurück', job_job_associations_path %>
