<%= form_for(@event_job_period_association) do |f| %>
  <% if @event_job_period_association.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_job_period_association.errors.count, "error") %> prohibited this event_job_period_association from being saved:</h2>

      <ul>
      <% @event_job_period_association.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Event auswählen" %><br>
    <%= f.number_field :event_id, type: "number", min:1, max:3, required: "required" %>
  </div>
  <div class="field">
    <%= f.label "Vorgang auswählen" %><br>
    <%= f.number_field :job_id, type: "number", min:1, max:7, required: "required" %>
  </div>
  <div class="field">
    <%= f.label "Periode angeben" %><br>
    <%= f.number_field :period_id, type: "number", min:0, required: "required" %>
  </div>
  <div class="field">
    <%= f.label :job_end %><br>
    <%= f.number_field :job_end %>
  </div>
  <div class="actions">
    <%= f.submit 'Event-Vorgang-Perioden-Zuordnung anlegen oder aktualisieren' %>
  </div>
<% end %>
