<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= best_in_place @event_job_period_association, :event_id %>
</p>

<p>
  <strong>Vorgang:</strong>
  <%= best_in_place @event_job_period_association, :job_id %>
</p>

<p>
  <strong>Periode:</strong>
  <%= best_in_place @event_job_period_association, :period_id %>
</p>

<p>
  <strong>Job end:</strong>
  <%= best_in_place @event_job_period_association, :job_end %>
</p>

<%= link_to 'Ändern', edit_event_job_period_association_path(@event_job_period_association) %> |
<%= link_to 'Zurück', event_job_period_associations_path %>
