<% provide(:title, "Über uns") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | EvenTraum</title>
  </head>
  <body>


  <br>

  <h1>Über die Gründer</h1>
  <br>
  <div style="text-align:right">
  <div class="image">
    <div style=><%=image_tag("Xelat.jpg", width: "140", height: "200")%></div>
    <p> Xelat Akcam</p>
  </div>

  <div class="image">
    <div style=><%=image_tag("Hayat.jpg", width: "140", height: "200")%></div>
    <p> Hayat Boulakhrif </p>
  </div>

  <div class="image">
    <div style=><%=image_tag("Nadia.jpg", width: "150", height: "200")%></div>
    <p> Nadia Kruszewski </p>
  </div>
  </div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <p>Wir sind die drei Gründerinnen der EvenTraum GmbH.
    Nach erfolgreichem Abschluss Bachelor of Science der Wirtschaftswissenschaft an der Gottfried Wilhelm Leibniz Universität Hannover studieren wir nun gemeinsam den Master of Sciecne im Major Operations Management and Research.... </p>
  <br>
  <h1>Über das Unternehmen</h1>
  <p>Im Rahmen der Veranstaltung „Entwicklung von Anwendungssystemen“
    am <a href="http://www.prod.uni-hannover.de">Institut für Produktionswirtschaft</a> im Master „Operations Management and Research“
    an der Gottfried Wilhelm Leibniz Universität Hannover ist die Web-Applikation „EvenTraum“ entwickelt worden.<br>
    Die Web-Applikation basiert auf dem <a href="http://3rd-edition.railstutorial.org/">Ruby on Rails Tutorial – Learn Web Development with Rails</a> von Michael Hartl.<br>
    Mit der Web-Applikation „EvenTraum“ kann ein Multi-Projekt-Planungsproblem gelöst werden.
  </p>
  </body>
</html>