<% provide(:title, "Startseite") %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | EvenTraum </title>
</head>
<body>
  <div style="text-align:right"><%=image_tag("logo.png") %></div>
</body>
</html>




