<% provide(:title, "Angebot") %>
<!DOCTYPE html>
<html>

<head>
  <title><%= yield(:title) %> | EvenTraum</title>
</head>
<body>
<h1>EvenTraum realisiert das Event Ihrer Träume</h1>
<br>
<p>Kreiieren Sie Ihr persönliches Event<br><br>
  Entscheiden Sie selbst, was zu Ihrem persönlichen EvenTraum dazu gehört:
  Ob Catering, Entertainment oder die passende Raumdekoration, wir kümmern uns für Sie um all Ihre Wünsche.
</p>
</body>
</html>