<% provide(:title, 'Eventplanung') %>
<h1>Eventplanung</h1>
<p>
  Hier können Sie die Daten der Multi-Projekt-Planung verwalten  <br><br>

  <%= link_to "Hier geht es zur Verwaltung der Events!", events_path %><br>
  <%= link_to "Hier geht es zur Verwaltung der Vorgänge!", jobs_path %><br>
  <%= link_to "Hier geht es zur Verwaltung der Perioden!", periods_path %><br>
  <%= link_to "Hier geht es zur Verwaltung der Vorgänger-Nachfolger-Beziehungen!", job_job_associations_path %><br>
  <%= link_to "Hier geht es zur Verwaltung der Events-Vorgänge-Perioden-Zuordnungen!", event_job_period_associations_path %><br>

</p>

<br>

<% if logged_in? %>


<% end %>

