<p id="notice"><%= notice %></p>

<p>
  <strong>Periode:</strong>
  <%= best_in_place @period, :name %>
</p>

<p>
  <strong>Zusatzkapazität:</strong>
  <%= best_in_place @period, :addcap %>
</p>

<%= link_to 'Ändern', edit_period_path(@period) %> |
<%= link_to 'Zurück', periods_path %>
