<% provide(:title, "Vorgänge") %>

<h1>Übersicht der Vorgänge</h1>

<table id="jobs" class="display">
  <thead>
    <tr>
      <th>Name</th>
      <th>Vorgangsdauer</th>
      <th>Ressourcenbedarf</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.name %></td>
        <td><%= job.processing_time %></td>
        <td><%= job.ressources_demand %></td>
        <td><%= link_to 'Anzeigen', job %></td>
        <td><%= link_to 'Bearbeiten', edit_job_path(job) %></td>
        <td><%= link_to 'Löschen', job, method: :delete, data: { confirm: 'Möchten Sie diesen Eintrag sicher löschen?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neuer Vorgang', new_job_path %>
<br>  <br><%= link_to 'Zurück zur Eventplanung', tcpsp_path %>