<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
      | <%= link_to "Bearbeiten", edit_user_path(user) %>
      | <%= link_to "Löschen", user, method: :delete,
                    data: { confirm: "Möchen Sie diesen Nutzer sicher löschen?" } %>
  <% end %>
</li>