<% provide(:title, "Konto-Einstellungen") %>
<h1>Änderung der Konto-Einstellungen</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label 'Name' %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label 'Email' %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label 'Passwort' %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, "Passwort bestätigen" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <%= f.label :password_confirmation, "Nutzerfoto bearbeiten" %>

        <div class="gravatar_edit">
          <%= gravatar_for @user %>
          <a href="http://gravatar.com/emails" target="_blank">Hier bearbeiten</a>
        </div>
        <br><br><br><br>
        <%= f.submit "Änderungen speichern", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>