<% provide(:title, 'Registrierung') %>
<h1>Registierung</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label 'Name' %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label 'Email' %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label 'Passwort' %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, "Passwort bestätigen" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <%= f.submit "Konto erstellen", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
