<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Eventnummer" %><br>
    <%= f.text_field :name, type: "number", min:1, required: "required" %>
  </div>
  <div class="field">
    <%= f.label "Anlass" %><br>
    <%= f.text_field :occasion, type: "text", pattern: "[A-Za-z\040]{1,}", title:"Bitte keine Zahlen und Sonderzeichen verwenden.", required: "required"  %>
  </div>
  <div class="field">
    <%= f.label "Eventzeitpunkt" %><br>
    <%= f.number_field :deadline, type: "number", min:7, required: "required" %>
  </div>
  <div class="actions">
    <%= f.submit 'Event anlegen', {:class => "btn btn-primary"} %>
  </div>
<% end %>
