<% provide(:title, "Events") %>

<% if current_user.admin? && !current_user?(users_path) %>

    <h1>Übersicht der Events</h1>
    <table id="events" class="display">
      <thead>
      <tr>
        <th>Name</th>
        <th>Anlass</th>
        <th>Periode</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @events.each do |event| %>
          <tr>
            <td><%= event.name %></td>
            <td><%= event.occasion %></td>
            <td><%= event.deadline %></td>
            <td><%= link_to 'Anzeigen', event %></td>
            <td><%= link_to 'Bearbeiten', edit_event_path(event) %></td>
            <td><%= link_to 'Löschen', event, method: :delete, data: { confirm: 'Möchten Sie diesen Eintrag sicher löschen?' } %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <br>

    <%= link_to 'Neues Event erstellen', new_event_path %><br><br>
    <%= link_to 'Zurück zur Eventplanung', tcpsp_path %>

<% else %>

    <h1>Mein neues Event</h1>
    <p>Wir freuen uns, dass Sie sich dazu entschieden haben, Ihr nächstes Event von unserem EvenTraum-Team realisieren zu lassen.<br>
    Bitte teilen Sie uns nachfolgend Ihre genauen Vorstellungen und Anforderungen mit, damit wir einen Einblick in Ihren Traum gewinnen können.</p><br>
    <%= button_to "Neues Event in Auftrag geben" , new_event_path, method: :get, :class => "btn btn-primary" %>

<% end %>








