<% provide(:title, "Events") %>

<h1>Auftragsdetails zum Events</h1>

<p>
  <strong>Name:</strong>
  <%= best_in_place @event, :name %>
</p>

<p>
  <strong>Anlass:</strong>
  <%= best_in_place @event, :occasion %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= best_in_place @event, :deadline %>
</p>

<%= link_to 'Bearbeiten', edit_event_path(@event) %> |
<%= link_to 'Zurück', events_path %>
